#name-error{
    color: red;
}

#mobile-error{
    color: red;
}

#email-error{
    color: red;
}

#message-error{
    color: red;
}

#place-error{
    color: red;
}

#lang{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#headWithBody{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}